<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PlayersMapper">

<resultMap type="com.example.domain.Players" id="playersWithManchester">
	<id		property="idno"			column="players_idno"/>
	<result property="memberno" 	column="players_memberno"/>
	<result property="backnumber" 	column="players_backnumber"/>
	<result property="position" 	column="players_position"/>
	<result property="name" 		column="players_name"/>
	<result property="nationality"  column="players_nationality"/>
	<result property="dateofjoin" 	column="players_dateofjoin"/>
	
	<association property="manchester" javaType="com.example.domain.Manchester">
		<id		property="idno"		column="manchester_idno"/>
		<result property="team" column="manchester_team"/>
	</association>
	
</resultMap>


<select id="selectAllWithManchester" resultMap="playersWithManchester">
	select p.idno			as players_idno,
		   p.memberno 		as players_memberno,
		   p.backnumber 	as players_backnumber,
		   p.position 		as players_position,
		   p.name  			as players_name,
		   p.nationality 	as players_nationality,
		   p.dateofjoin 	as players_dateofjoin,
		   m.idno 			as manchester_idno,
		   m.team 			as manchester_team,
	from players p left outer join manchester m
		on p.idno = m.idno
	where p.idno = #{idno} 
</select>
<select id="selectPageWithManchester" resultMap="playersWithManchester">
	select p.idno			as players_idno,
		   p.memberno 		as players_memberno,
		   p.backnumber 	as players_backnumber,
		   p.position 		as players_position,
		   p.name  			as players_name,
		   p.nationality 	as players_nationality,
		   p.dateofjoin 	as players_dateofjoin,
		   m.idno 			as manchester_idno,
		   m.team 			as manchester_team,
	from players p left outer join manchester m
		on p.idno = m.idno
	offset #{firstItem} - 1 rows
	 fetch next #{itemsPerPage} rows only  
</select>

<insert id="insert">
	insert into players
	(
		idno,
		memberno,
		backnumber,
		position,
		name,
		nationality,
		dateofjoin
	)
	values
	(
		#{idno},
		#{memberno},
		#{backnumber},
		#{position},
		#{name},
		#{nationality},
		#{dateofjoin}
	)
</insert>

<update id="updateByMemberno">
	update players
	set idno			=#{idno},
		memberno		=#{memberno},
		backnumber		=#{backnumber},
		position		=#{position},
		name			=#{name},
		nationality		=#{nationality},
		dateofjoin		=#{dateofjoin}
	where memberno = #{memberno}
</update>

</mapper>